#mask{
    background: rgba(0,0,0,0.4);
    position: fixed;
    left:0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: none;
    z-index: -1;
}
#dialog{
    position: fixed;/*脱离文档流*/
    background: #96ff00;
    display: none;
}